@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

html {
  font-size: 18px;
}

h1 {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
  letter-spacing: 10px;
}

h2 {
  color: black;
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 100;
  font-size: 35px;

}

/* .site-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
} */

/* I tried to just establish the layout in the id declarations, but it didn't work? */

section.entry-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr, 1fr;
  grid-gap: 30px;
}

section#child-1 {
  grid-column: 1 /2;
  grid-row: 1 / 2;
}

section#child-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

section#child-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

/* #para1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#para2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
} */

body {
  width: 70vw;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(chevron.jpg);
}

main {
  padding: 3em;
  margin: 2em;
  background-color: rgba(62, 185, 187, .27);
}

/* Media styles */

img.grid-img {
  width: 100%;
}


.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  list-style-type: none;
  display: flex;
  padding-left: 19vw;
}

a:hover {
  color: orange;
}

nav > ul > li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

section#education {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  border: 1px red;
}

#edu1 > .indent {
  text-indent: 60px;
}

  #edu1 {
  grid-column:1 / 2;
  grid-row: 1 / 2;
}


#edu2 {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
